

body{
  background-image: url('../back-school-background-with-school-supplies-copy-space_23-2148959021.webp');
  background-size: cover;
  background-position: center;

}

/* @media screen and (max-width:480px) {
  body{
    background-image: url('../back-school-realistic-background-with-colorful-stationary-wooden-surface_1284-55358.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
  }
} */






